<%= render "layout" %>

<ol class="breadcrumb">
    <li><%= link_to "People", person_index_path %></li>
    <li class="active">Add Person</li>
</ol>

<div class="panel panel-default">
    <div class="panel-body">
        <%= bootstrap_form_for :person, url: {:action => "create"} do |f| %>
            <%# errors %>
            <% if @person.errors.any? %>
                <div id="error_explanation">
                    <h4 class="text-danger">
                        <%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:
                    </h4>
                    <ul>
                        <% @person.errors.full_messages.each do |msg| %>
                            <li class="text-danger"><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <%# form %>
            <div class="row">
                <div class="col-md-6">
                    <%= f.text_field :first_name %>
                    <%= f.text_field :last_name %>
                    <%= f.text_field :phone %>
                </div>
                <div class="col-md-6">
                    <%= f.text_field :email %>
                    <%= f.password_field :password %>
                    <%= f.password_field :password_confirmation %>
                </div>
            </div>
            <%= f.submit :class => 'btn btn-primary' %>
        <% end %>
    </div>
</div>
