<div class="bg-header">
    <h2>People</h2>
    <ol class="breadcrumb">
        <div class="links">
            <%= link_to edit_person_path, class: 'btn btn-sm btn-warning' do %>
                <%= material_icon.edit %> Edit
            <% end %>
        </div>
        <li><%= link_to "People", person_index_path %></li>
        <li class="active"><%= @person %></li>
    </ol>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <legend>
            <h3 class="text-warning"><%= @person %></h3>
        </legend>
    </div>
</div>
