<%= render "layout" %>

<ol class="breadcrumb">
    <li>Projects</li>
    <li class="active"><%= @project %></li>
</ol>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <%= material_icon.timer %>
                Entries
            </div>
            <div class="panel-body"></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <%= material_icon.multiline_chart %>
                Analytics
            </div>
            <div class="panel-body"></div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <%= material_icon.insert_chart %>
                Reports
            </div>
            <div class="panel-body"></div>
        </div>
    </div>
</div>
