<table class="table table-striped table-hover">
    <% if @entries.to_s.length > 0 %>
        <% @entries.each do |e| %>
            <tr>
                <td>
                    <h4 class="list-group-item-header" style="line-height: 20px;">
                        <%= e.title %>
                        <br />
                        <small style="font-size: 0.6em;">
                            <% if e.end == nil || e.start.strftime('%m/%d/%y') == e.end.strftime('%m/%d/%y') %>
                                <%= e.start.strftime('%m/%d/%y') %>
                            <% else %>
                                <%= e.start.strftime('%m/%d/%y') %> &mdash; <%= e.end.strftime('%m/%d/%y') %>
                            <% end %>
                        </small>
                    </h4>
                    <% if e.description %>
                        <p class="list-group-item-body text-muted" style="line-height: 15px;">
                            <%= e.description %>
                        </p>
                    <% end %>
                </td>
                <td class="text-center" style="width: 1%;">
                    <% if e.status == 'complete' %>
                        <h4><%= e.total_time %></h4>
                        <center class="text-muted">
                            <%= material_icon.lock %>
                        </center>
                    <% elsif e.status == 'paused' %>
                        <h4><%= e.total_time %></h4>
                        <%= link_to status_entries_path(id: e, status: 'restart', currentRoute: controller_name), class: "btn-round btn-round-default btn-round-sm pull-left", style: "margin-right: 9px" do %>
                            <%= material_icon.replay.md_18 %>
                        <% end %>
                        <%= link_to destroy_entries_path(id: e, currentRoute: controller_name), method: :delete, class: "btn-round btn-round-danger-simple btn-round-sm pull-left", style: "margin-right: 9px;" do %>
                            <%= material_icon.delete_forever.md_18 %>
                        <% end %>
                        <a href="" class="btn-round btn-round-warning-simple btn-round-sm pull-left">
                            <%= material_icon.edit.md_18 %>
                        </a>
                        <%# link_to status_entries_path(id: e, status: 'complete', currentRoute: controller_name), class: "btn-round btn-round-success-simple btn-round-sm pull-left" do %>
                            <%# material_icon.check.md_18 %>
                        <%# end %>
                    <% else %>
                        <h4 class="js-entry-time-ellapsed" data-start-time="<%= e.active_time %>"></h4>
                        <center>
                            <%= link_to pause_entries_path(id: e, currentRoute: controller_name), class: "btn-round btn-round-default btn-round-sm", style: "margin-top: -5px;" do %>
                                <%= material_icon.pause.md_18 %>
                            <% end %>
                        </center>
                    <% end %>
                </td>
            </tr>
        <% end %>
    <% else %>
        <tr>
            <td>
                None
            </td>
        </tr>
    <% end %>
</table>
