<%= render "layout" %>

<ol class="breadcrumb">
    <li>Entries</li>
    <li class="active">Add Entry</li>
</ol>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <%= material_icon.update %>
                Recent Entries
            </div>
            <%= render "/entry/entries" %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <%= material_icon.add %>
                Add Entry
            </div>
            <div class="panel-body">
                <% if @entry.errors.any? %>
                    <div id="error_explanation">
                        <h4 class="text-danger">
                            <%= pluralize(@entry.errors.count, "error") %> prohibited this person from being saved:
                        </h4>
                        <ul>
                            <% @entry.errors.full_messages.each do |msg| %>
                                <li class="text-danger"><%= msg %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>

                <%= bootstrap_form_for @entry, url: {:action => "create"} do |f| %>
                    <%= f.text_field :title, class: "form-control" %>
                    <%= f.text_area :description, class: "form-control" %>
                    <%= f.check_box :current, {:label => "Start now", checked: true} %>
                <% end %>
                <br />
                <button class="btn btn-primary">Save Entry</button>
            </div>
        </div>
    </div>
</div>
