<!DOCTYPE html>
<html>
    <head>
        <title>TimeTracker</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <% if ! @user %>
            <div class="container">
                <%= yield %>
            </div>
        <% else %>
            <div id="wrapper">
                <!-- main nav -->
                <div class="sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <div class="clearfix text-center text-primary">
                            <a href="#" class="navbar-brand">
                                <%= material_icon.timer.md_48 %>tracker
                            </a>
                        </div>

                        <ul id="side-menu" class="nav">
                            <li>
                                <%= link_to "Dashboard", landing_index_path %>
                            </li>
                            <li><a href="">Projects</a></li>
                            <li><a href="">Clients</a></li>
                            <li><a href="">Teams</a></li>
                            <li><a href="">Reports</a></li>
                            <li><%= link_to "People", person_index_path %></li>
                        </ul>

                        <div class="clearfix">
                            <center>
                                <a href="#" class="btn-round"><%= material_icon.add.md_24 %></a>
                            </center>
                        </div>
                    </div>
                </div>

                <!-- header -->
                <div id="header">
                    <div class="pull-right">
                        <%= link_to person_path(@user), class: 'btn btn-primary' do %>
                            <%= material_icon.account_circle.md_48 %>
                            <br />
                            PROFILE
                        <% end %>
                    </div>
                    Header
                </div>

                <!-- content -->
                <div id="content">
                    <%= yield %>
                </div>
            </div>
        <% end %>
        <br>
    </body>
</html>
